<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="/css/Styles.css">       
    </head>
    <body>
        {{>headers}}        
        <p>{{title1}}</p>        
        {{>footer}}
    </body>
</html>