<header>
<h1>{{title}}</h1>
{{!-- {{/*All pages have access to Title and now it can be used in the header.
we are going to reference title right inside like we were previously doing from our other view files.*/}} --}}

<a href ="/" >Weather</a>
<a href="/about">About</a>
<a href="/help">Help</a>
</header>
